/*             Estilos Generales                   */
* {
	margin:0;
	padding:0;
}
 
body {

	background-image: url('../images/fractal1-2.jpg');
}
 
header {
	width:100%;
}

.colorGris{
    color: #777;
}


.centrado{
  text-align: center;;
}

.titulo{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
  font: initial;
  font-size: larger;
}

p{
text-align: justify;
}

/*----------------------------------------*/

/*             Estilos Menu             */
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
    position: absolute;
    right: 0;
    margin: -3px 15px 0 0;
    padding: 0;
    width: 32px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}
.navbar-nav.sm-collapsible .caret:before {
    content: '+';
    font-family: monospace;
    font-weight: bold;
}

.navbar-nav.sm-collapsible a.has-submenu {
    padding-right: 50px;
}
/*----------------------------------------*/


 
/*             Estilos Secciónes Pagina             */
#cabecera{
  width: 80%;
  margin: 20px auto;
}

#contenido{
  width: 80%;
  margin: 0px auto;
  border-color: #e7e7e7;
  background: rgba(248, 248, 248, 0.91);
}

#mensaje{
  width: 80%;
  margin: 0px auto;
}

 
@media screen and (max-width:1000px ) {

	#cabecera{
	  width: 95%;
	  margin: 20px auto;
	}

	#contenido{
	  width: 95%;
	  margin: 0px auto;
    border-color: #e7e7e7;
	  background: rgba(183, 183, 183, 0.72);
	}

  #mensaje{
  width: 95%;
  margin: 0px auto;
  }
		
}

/*----------------------------------------*/



/*   Estilos Secciónes Contenido Pagina    */


#tituloFormulario{
font-size : 14pt;
font-style: oblique;

}

#contenidoFormulario{
/*height: 25em;*/
font-size : 11pt;

}
/*----------------------------------------*/


/*   Estilos Tablas   */

th {
text-align: center;
vertical-align: middle;
}
/*----------------------------------------*/

